
## Problem Statement:

Restaurants from all over the world can be found here in Bengaluru. From the United States to Japan, Russia to Antarctica, you get all types of cuisines here. Delivery, Dine-out, Pubs, Bars, Drinks, Buffet, Desserts you name it and Bengaluru has it. Bengaluru is the best place for foodies. The number of restaurants is increasing day by day. Currently, it stands at approximately 12,000 restaurants. With such a high number of restaurants. This industry hasn't been saturated yet. And new restaurants are opening every day. However, it has become difficult for them to compete with already established restaurants. The key issues that continue to pose a challenge to them include high real estate costs, rising food costs, shortage of quality manpower, fragmented supply chain, and over-licensing. This Zomato data aims at analyzing the demography of the location. Most importantly it will help new restaurants in deciding their theme, menus, cuisine, cost, etc for a particular location. It also aims at finding similarities between neighborhoods of Bengaluru on the basis of food. The dataset also contains reviews for each of the restaurants which will help in finding the overall rating for the place.


## Aim:

The basic idea of analyzing the Zomato dataset is to get a fair idea about the factors affecting the establishment of different types of restaurants at different places in Bengaluru, the aggregate rating of each restaurant, Bengaluru being one such city has more than 12,000 restaurants with restaurants serving dishes from all over the world. With each day new restaurants open the industry hasn't been saturated yet and the demand is increasing day by day. In spite of increasing demand, it however has become difficult for new restaurants to compete with established restaurants. Most of them serve the same food. Bengaluru is the IT capital of India. Most of the people here are dependent mainly on the restaurant food as they don’t have time to cook for themselves.



Use all the techniques which you are aware of and explore more, Try to find various factors that are hidden in the data.

### DATA DICTIONARY:


• **Restaurant Id:** Unique id of every restaurant across various cities of the world

• **Restaurant Name:** Name of the restaurant

• **Country Code:** Country in which restaurant is located

• **City:** City in which the restaurant is located

• **Address:** Address of the restaurant

• **Locality:** Location in the city

• **Locality Verbose:** Detailed description of the locality

• **Longitude:** Longitude coordinate of the restaurant's location

• **Latitude:** Latitude coordinate of the restaurant's location

• **Cuisines:** Cuisines offered by the restaurant

• **Average Cost for two:** Cost for two people in different currencies 

• **Currency:** Currency of the country

• **Has Table booking:** yes/no

• **Has Online delivery:** yes/ no

• **Is delivering:** yes/ no

• **Switch to order menu:** yes/no

• **Price range:** range of price of food

• **Aggregate Rating:** Average rating out of 5

• **Rating color:** depending upon the average rating color

• **Rating text:** text on the basis of rating of rating

• **Votes:** Number of ratings cast by people

### 1.Import libraries that you required and Load the data set.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 2. Check the number of rows and columns in the dataset

In [2]:
# Load the dataset
df = pd.read_csv('zomato.csv')

# Check the number of rows and columns
rows, columns = df.shape
print(f'The dataset contains {rows} rows and {columns} columns.')

The dataset contains 10000 rows and 18 columns.

In [4]:
df.head()

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,14221,https://www.zomato.com/bangalore/shree-ranga-v...,"366, Hosur Main Road, Attibele, Anekal Taluk, ...",Shree Ranga Vilas,No,No,3.2/5,7,080 29765044,Electronic City,Casual Dining,NaN,"North Indian, South Indian, Chinese, Juices",500,"[('Rated 3.0', 'RATED\n Typical South Indian ...",[],Dine-out,Electronic City
1,43422,https://www.zomato.com/bangalore/sphyre-gatewa...,"Gateway Hotel, 66, Residency Road, Bangalore",Sphyre - Gateway Hotel,No,No,3.6 /5,45,+91 9886643495\n+91 9898780004,Residency Road,Lounge,NaN,Finger Food,"1,700","[('Rated 1.0', 'RATED\n Expected a good night...",[],Dine-out,MG Road
2,16032,https://www.zomato.com/bangalore/popular-baker...,"19, BDA Complex, HSR, Bangalore",Popular Bakery,No,No,3.7/5,36,+91 8105834605\r\n080 25722488,HSR,"Dessert Parlor, Bakery",NaN,"Desserts, Bakery",600,"[('Rated 5.0', ""RATED\n This outlet is in HSR...",[],Delivery,HSR
3,51635,https://www.zomato.com/bangalore/thai-chinese-...,"7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...",Thai & Chinese Fast Food,No,No,3.4 /5,7,+91 9206260085\n+91 7619416923,KR Puram,Quick Bites,NaN,"Chinese, Thai",400,"[('Rated 5.0', 'RATED\n Its Looking delicious...",[],Dine-out,Whitefield
4,23424,https://www.zomato.com/bangalore/grill-on-whee...,"Kothanuru Main Road, Puttenahalli Road, Natara...",Grill On Wheels,No,No,NEW,0,+91 9901979901,JP Nagar,Quick Bites,NaN,"North Indian, Chinese, BBQ, Arabian, Fast Food",400,[],[],Dine-out,JP Nagar

### 3. Check the info of the given dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   10000 non-null  int64
 1   url                          10000 non-null  object
 2   address                      10000 non-null  object
 3   name                         10000 non-null  object
 4   online_order                 10000 non-null  object
 5   book_table                   10000 non-null  object
 6   rate                         8528 non-null   object
 7   votes                        10000 non-null  int64
 8   phone                        9764 non-null   object
 9   location                     9997 non-null   object
 10  rest_type                    9953 non-null   object
 11  dish_liked                   4642 non-null   object
 12  cuisines                     9995 non-null   object
 13  approx_cost(for two people)  9941 non-null   object
 14  reviews_list                 10000 non-null  object
 15  menu_item                    10000 non-null  object
 16  listed_in(type)              10000 non-null  object
 17  listed_in(city)              10000 non-null  object
dtypes: int64(2), object(16)
memory usage: 1.4+ MB

### 4.Which are the top 10 restaurant chains in Bangaluru?

In [5]:
# Group by restaurant name and count the occurrences
top_restaurant_chains = df['name'].value_counts().head(10)

# Display the top 10 restaurant chains
print(top_restaurant_chains)

name
Cafe Coffee Day              18
Keventers                    17
Onesta                       17
McDonald's                   16
SGS Non Veg - Gundu Pulav    16
The Chocolate Heaven         16
Baskin Robbins               16
Mad Over Donuts              15
Tata Cha                     15
Petoo                        15
Name: count, dtype: int64

### 5.How many of the restuarants do not accept online orders?

In [6]:
# Count the number of restaurants that do not accept online orders
no_online_orders = df[df['online_order'] == 'No'].shape[0]

print(f'The number of restaurants that do not accept online orders is {no_online_orders}.')

The number of restaurants that do not accept online orders is 4057.

### 6. Online and Offline orders restaurants percentage?

In [7]:
# Calculate the percentage of restaurants that accept online orders
online_orders_percentage = df['online_order'].value_counts(normalize=True) * 100

# Display the percentages
print(online_orders_percentage)

online_order
Yes    59.43
No     40.57
Name: proportion, dtype: float64

### 7. What is the ratio b/w restaurants that provide and do not provide table booking.

In [8]:
# Calculate the number of restaurants that provide and do not provide table booking
table_booking_counts = df['book_table'].value_counts()

# Calculate the ratio
ratio_table_booking = table_booking_counts['Yes'] / table_booking_counts['No']

print(f'The ratio between restaurants that provide and do not provide table booking is {ratio_table_booking:.2f}.')

The ratio between restaurants that provide and do not provide table booking is 0.14.

### 8. Check for missing values in rating column. Drop the missing value from the column and convert the column to numeric type. e.g "3.5/5" convert it to 3.5.

In [33]:
import pandas as pd

data = {'rating': ['3.5/5', '4.0/5', '2.8/5']}
df = pd.DataFrame(data)

df['numeric_rating'] = df['rating'].map(lambda x: float(x.split('/')[0]))
print(df)

  rating  numeric_rating
0  3.5/5             3.5
1  4.0/5             4.0
2  2.8/5             2.8

### 9. Convert the approx_cost(for two people) in numeric type after removing the ","

In [11]:
# Remove commas and convert the column to numeric type
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].str.replace(',', '').astype(float)

# Verify the conversion
print(df['approx_cost(for two people)'].head())

0     500.0
1    1700.0
2     600.0
3     400.0
5     500.0
Name: approx_cost(for two people), dtype: float64

### 10. Find the maximum, minimum and average "approx_cost(for two people)" in each  "listed_in(city)" for each "listed_in(type)"

In [12]:
# Group by 'listed_in(city)' and 'listed_in(type)' and calculate the max, min, and average 'approx_cost(for two people)'
cost_stats = df.groupby(['listed_in(city)', 'listed_in(type)'])['approx_cost(for two people)'].agg(['max', 'min', 'mean']).reset_index()

# Display the result
print(cost_stats)

    listed_in(city)     listed_in(type)     max     min         mean
0               BTM              Buffet  1600.0   750.0  1264.285714
1               BTM               Cafes   900.0   300.0   607.692308
2               BTM            Delivery  1600.0   100.0   463.764706
3               BTM            Desserts  1200.0   100.0   413.793103
4               BTM            Dine-out  1500.0    70.0   513.192771
..              ...                 ...     ...     ...          ...
185      Whitefield            Delivery  2000.0   150.0   554.237288
186      Whitefield            Desserts   900.0   150.0   435.714286
187      Whitefield            Dine-out  3000.0   200.0   729.577465
188      Whitefield  Drinks & nightlife  2400.0  1200.0  1833.333333
189      Whitefield       Pubs and bars  1500.0   800.0  1312.500000

[190 rows x 5 columns]

### 11. Which are the most common restaurant type in Banglore (top 15)?

In [13]:
# Get the top 15 most common restaurant types
top_restaurant_types = df['rest_type'].value_counts().head(15)

# Display the top 15 restaurant types
print(top_restaurant_types)

rest_type
Quick Bites            2691
Casual Dining          1884
Cafe                    643
Dessert Parlor          370
Delivery                330
Takeaway, Delivery      290
Casual Dining, Bar      196
Bakery                  149
Bar                     124
Beverage Shop           107
Food Court               99
Bar, Casual Dining       87
Casual Dining, Cafe      74
Lounge                   70
Pub                      66
Name: count, dtype: int64

### 12. Finding Best budget Restaurants in any given location. Create a function return_budget_resturant, the arguments to this function will be location and rest_type.The function should return a budget resturants in the given loaction. The price of a good budget resturant should be less than 400 and rating should be more than 4.

In [15]:
def return_budget_resturant(location, rest_type):
    # Filter the dataframe based on location, rest_type, price, and rating
    budget_restaurants = df[(df['location'] == location) & 
                            (df['rest_type'] == rest_type) & 
                            (df['approx_cost(for two people)'] < 400) & 
                            (df['rate'] > 4)]
    
    # Get the names of the budget restaurants
    restaurant_names = budget_restaurants['name'].tolist()
    
    return restaurant_names

# Example usage
print(return_budget_resturant('HSR', 'Quick Bites'))

['Asha Tiffins', 'The Mylapore Cafe', 'The Mylapore Cafe', 'The Mylapore Cafe', 'The Mylapore Cafe', 'Asha Tiffins', 'Asha Tiffins', 'The Mylapore Cafe', 'Asha Tiffins', 'Asha Tiffins']

input - return_budget_resturant('HSR',"Quick Bites")
output - ['Asha Tiffins', 'Hotel Salam', 'The Mylapore Cafe']

### 13.Which are the most common cuisines in each locations.

In [16]:
# Group by location and cuisines and count the occurrences
cuisine_counts = df.groupby(['location', 'cuisines']).size().reset_index(name='count')

# Find the most common cuisine for each location
most_common_cuisines = cuisine_counts.loc[cuisine_counts.groupby('location')['count'].idxmax()]

# Display the result
print(most_common_cuisines)

               location                                           cuisines  \
152                 BTM                              North Indian, Chinese
238        Banashankari                             Cafe, Mexican, Italian
322           Banaswadi                              North Indian, Chinese
410   Bannerghatta Road                              North Indian, Chinese
494        Basavanagudi                                       South Indian
...                 ...                                                ...
3483     West Bangalore  Healthy Food, Chinese, Biryani, North Indian, ...
3577         Whitefield                                       North Indian
3632      Wilson Garden                                       North Indian
3638          Yelahanka                              South Indian, Biryani
3656        Yeshwantpur                South Indian, North Indian, Chinese

      count
152      63
238      11
322       6
410      24
494       9
...     ...
3483      1
3577     29
3632      8
3638      1
3656      3

[87 rows x 3 columns]

### 14. Which is  the most popular cuisine of Bangalore?

In [32]:
# Remove non-numeric values and convert the rating column to numeric type
df['rate'] = df['rate'].apply(lambda x: x.split('/')[0].strip() if isinstance(x, str) and '/' in x else x)
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')

# Verify the conversion
print(df['rate'].head())

0    3.2
1    3.6
2    3.7
3    3.4
5    4.2
Name: rate, dtype: float64

In [17]:
# Find the most popular cuisine in Bangalore
most_popular_cuisine = df['cuisines'].value_counts().idxmax()

print(f'The most popular cuisine in Bangalore is {most_popular_cuisine}.')

The most popular cuisine in Bangalore is North Indian.